<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome to nginx!</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>ApacheCN 文档汇总</h1>
<ul>
	{% for d in docs %}
	{% set name = d['name'] %}
	{% set nameCn = d['nameCn'] %}
	<li><a href='/{{ name }}/' target='_blank'>{{ nameCn }}</a></li>
	{% endfor %}
</ul>
</body>
</html>
